<div class="sidenav-title">
  <mat-list>
    <mat-list-item class="sidenav-title-text">NG6-POKEDEX</mat-list-item>
  </mat-list>
</div>
<mat-divider></mat-divider>
<mat-list class="sidenav-menu">
  <mat-list-item class="sidenav-menu-item">
    <button mat-button
            class="sidenav-menu-button"
            (click)="onHomeBtnClick()">
      <span>Pokémon</span>
    </button>
  </mat-list-item>
  <mat-list-item class="sidenav-menu-item">
    <a href="https://github.com/devlorz/ng6-pokedex">
      <button mat-button
              class="sidenav-menu-button">
        <span>
          About
        </span>
      </button>
    </a>
  </mat-list-item>
</mat-list>