.wrapper {
  margin-top: 80px;
}

.search-bar {
  display: block;
  width: 90%;
  margin: 0px auto 1em auto;
}

@media (max-width: 599px) {
  .sidenav-title {
    padding-left: 20px;
    height: 56px;
  }
}

@media (min-width: 768px) {
  .search-bar {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .search-bar {
    width: 70%;
  }
}
