/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.mat-dialog-container {
  padding: 0 !important;
  transition: none !important;
}

.cdk-overlay-pane {
  max-width: 100% !important;
}
